USE [master]
GO
/****** Object:  Database [KIDS]    Script Date: 04/04/2018 8:55:28 p. m. ******/
CREATE DATABASE [KIDS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KIDS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\KIDS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KIDS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\KIDS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KIDS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KIDS]
GO
USE [KIDS]
GO
/****** Object:  Table [dbo].[COLEGIOS]    Script Date: 04/04/2018 8:55:28 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLEGIOS](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
 CONSTRAINT [PK_COLEGIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KIDS]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KIDS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ESTATUS] [bit] NULL,
	[NOMBRE] [varchar](100) NULL,
	[APELLIDO] [varchar](100) NULL,
	[APODO] [varchar](100) NULL,
	[SEXO] [int] NULL,
	[FEC_NACIMIENTO] [date] NULL,
	[LUGARNACIMIENTO] [varchar](250) NULL,
	[GRADOESCOLAR] [int] NULL,
	[ESCUELA] [int] NULL,
	[PROVINCIA] [varchar](250) NULL,
	[MUNICIPIO] [varchar](250) NULL,
	[SECTOR] [varchar](250) NULL,
	[BARRIO] [varchar](250) NULL,
	[DIRECCION] [varchar](250) NULL,
	[REPRESENTANTE] [int] NULL,
	[CEDULA] [varchar](15) NULL,
	[NOMBRETUTOR] [varchar](250) NULL,
	[PROPIETARIO] [int] NULL,
	[ESTATUSMARITAL] [int] NULL,
	[RELIGION] [int] NULL,
	[PISO] [int] NULL,
	[TECHO] [int] NULL,
	[PAREDES] [int] NULL,
	[PIEZAS] [int] NULL,
	[MIEMBROS] [int] NULL,
	[PERSONASDORMITORIO] [int] NULL,
	[ALUMBRADO] [int] NULL,
	[EMPLEO] [int] NULL,
	[TIPOEMPLEADOR] [int] NULL,
	[INGRESOS] [int] NULL,
	[TRABAJOSADICIONALES] [int] NULL,
	[COMIDAS] [int] NULL,
	[ANALFABETISMO] [int] NULL,
	[ESCOLARIDAD] [int] NULL,
	[ASISTENESCUELA] [int] NULL,
	[SANITARIO] [int] NULL,
	[AGUA] [int] NULL,
	[BASURA] [int] NULL,
	[ATENCION] [int] NULL,
	[EDA] [int] NULL,
	[IRA] [int] NULL,
	[TIERRAS] [int] NULL,
	[TRANSPORTE] [int] NULL,
	[COMUNITARIO] [int] NULL,
	[FECRECEPCION] [date] NULL,
	[PUNTUACIONFINAL] [int] NULL,
	[NIVELECONOMICO] [int] NULL,
	[HACINAMIENTO] [int] NULL,
	[NACIONALIDADTUTORE] [varchar](250) NULL,
	[AGRICOLAS] [bit] NULL,
	[PECUARIOS] [bit] NULL,
	[MICROEMPRESAS] [bit] NULL,
	[OTROSACTIVIDADS] [bit] NULL,
	[REMESASS] [bit] NULL,
	[JUBILACIONS] [bit] NULL,
	[ALQUILERS] [bit] NULL,
	[INTERESESS] [bit] NULL,
	[FAMILIARESS] [bit] NULL,
	[OTROSINGRESOSS] [bit] NULL,
	[TIPOVIVIENDA] [int] NULL,
	[NOMBPADRE] [varchar](100) NULL,
	[NACPADRE] [varchar](50) NULL,
	[RELPADRE] [int] NULL,
	[NOMBMADRE] [varchar](100) NULL,
	[NACMADRE] [varchar](50) NULL,
	[RELMADRE] [int] NULL,
	[ARROZE] [bit] NULL,
	[HABICHUELASE] [bit] NULL,
	[HUEVOSE] [bit] NULL,
	[CARNES] [bit] NULL,
	[PLATANOS] [bit] NULL,
	[PANE] [bit] NULL,
	[LECHES] [bit] NULL,
	[VEGETALESE] [bit] NULL,
	[FRUTASE] [bit] NULL,
	[TELEFONOS] [bit] NULL,
	[ABANICOS] [bit] NULL,
	[RADIOS] [bit] NULL,
	[NEVERAS] [bit] NULL,
	[ESTUFAS] [bit] NULL,
	[TELEVISORE] [bit] NULL,
	[LAVADORAS] [bit] NULL,
	[COMPUTADORAS] [bit] NULL,
	[CISTERNAS] [bit] NULL,
	[OTROSBIENESE] [bit] NULL,
	[COLEGIO] [varchar](100) NULL,
	[MERIENDA] [varchar](100) NULL,
	[GRADOESCOLARP] [int] NULL,
	[GRADOESCOLARM] [int] NULL,
	[GRADOESCOLART] [int] NULL,
	[PROGRAMA] [varchar](50) NULL,
	[TELTUTORE] [varchar](15) NULL,
	[TELPADRES] [varchar](15) NULL,
	[TELMADRES] [varchar](15) NULL,
	[CEDPADRES] [varchar](15) NULL,
	[CEDMADRES] [varchar](15) NULL,
	[OTROSINGRESOS] [varchar](100) NULL,
	[AGRICOLAT] [varchar](100) NULL,
	[PECUARIOT] [varchar](100) NULL,
	[MICROEMPRESAT] [varchar](100) NULL,
	[OTROSACTIVIDADT] [varchar](100) NULL,
	[TELRESIDENCIAL] [varchar](15) NULL,
	[EDAD] [varchar](10) NULL,
	[OTROSPROP] [varchar](100) NULL,
	[PROGRAMAID] [int] NULL,
	[ESCUELAID] [int] NULL,
 CONSTRAINT [PK_KIDS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PAISES]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAISES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODIGO] [varchar](10) NULL,
	[NOMBRE] [varchar](100) NULL,
	[GENTILICIO] [varchar](50) NULL,
 CONSTRAINT [PK_PAISES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROGRAMAS]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROGRAMAS](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
 CONSTRAINT [PK_PRPGRAMA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RELIGIONES]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RELIGIONES](
	[ID] [int] IDENTITY(0,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
 CONSTRAINT [PK_RELIGIONES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](250) NULL,
	[USERNAME] [varchar](20) NULL,
	[CONTRASENA] [varchar](16) NULL,
	[NIVEL] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[COLEGIOS] ON 

INSERT [dbo].[COLEGIOS] ([ID], [NOMBRE]) VALUES (0, N'Escuela de Prueba')
INSERT [dbo].[COLEGIOS] ([ID], [NOMBRE]) VALUES (1, N'LALALALALALAL')
INSERT [dbo].[COLEGIOS] ([ID], [NOMBRE]) VALUES (2, N'wwwwwwwww')
SET IDENTITY_INSERT [dbo].[COLEGIOS] OFF
SET IDENTITY_INSERT [dbo].[KIDS] ON 

SET IDENTITY_INSERT [dbo].[KIDS] OFF
SET IDENTITY_INSERT [dbo].[PAISES] ON 

INSERT [dbo].[PAISES] ([ID], [CODIGO], [NOMBRE], [GENTILICIO]) VALUES (1, N'DO', N'Republica Dominicana', N'Dominicano')
INSERT [dbo].[PAISES] ([ID], [CODIGO], [NOMBRE], [GENTILICIO]) VALUES (2, N'O', N'Otro', N'Extranjero')
INSERT [dbo].[PAISES] ([ID], [CODIGO], [NOMBRE], [GENTILICIO]) VALUES (3, N'US', N'Estados Unidos', N'Norteamericano')
SET IDENTITY_INSERT [dbo].[PAISES] OFF
SET IDENTITY_INSERT [dbo].[PROGRAMAS] ON 

INSERT [dbo].[PROGRAMAS] ([ID], [NOMBRE]) VALUES (0, N'Programa de Prueba')
INSERT [dbo].[PROGRAMAS] ([ID], [NOMBRE]) VALUES (1, N'ssssssss')
INSERT [dbo].[PROGRAMAS] ([ID], [NOMBRE]) VALUES (2, N'N/A')
SET IDENTITY_INSERT [dbo].[PROGRAMAS] OFF
SET IDENTITY_INSERT [dbo].[RELIGIONES] ON 

INSERT [dbo].[RELIGIONES] ([ID], [NOMBRE]) VALUES (0, N'N/A')
INSERT [dbo].[RELIGIONES] ([ID], [NOMBRE]) VALUES (1, N'Catolico')
INSERT [dbo].[RELIGIONES] ([ID], [NOMBRE]) VALUES (2, N'Evangelico')
SET IDENTITY_INSERT [dbo].[RELIGIONES] OFF
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([ID], [NOMBRE], [USERNAME], [CONTRASENA], [NIVEL]) VALUES (1, N'ss', N'sgr', N'123', 1)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
ALTER TABLE [dbo].[KIDS] ADD  CONSTRAINT [DF_KIDS_ESTATUS]  DEFAULT ((1)) FOR [ESTATUS]
GO
ALTER TABLE [dbo].[KIDS]  WITH CHECK ADD  CONSTRAINT [FK_KIDS_RELIGIONES] FOREIGN KEY([RELIGION])
REFERENCES [dbo].[RELIGIONES] ([ID])
GO
ALTER TABLE [dbo].[KIDS] CHECK CONSTRAINT [FK_KIDS_RELIGIONES]
GO
ALTER TABLE [dbo].[KIDS]  WITH CHECK ADD  CONSTRAINT [FK_KIDS_RELIGIONES1] FOREIGN KEY([RELMADRE])
REFERENCES [dbo].[RELIGIONES] ([ID])
GO
ALTER TABLE [dbo].[KIDS] CHECK CONSTRAINT [FK_KIDS_RELIGIONES1]
GO
ALTER TABLE [dbo].[KIDS]  WITH CHECK ADD  CONSTRAINT [FK_KIDS_RELIGIONES2] FOREIGN KEY([RELPADRE])
REFERENCES [dbo].[RELIGIONES] ([ID])
GO
ALTER TABLE [dbo].[KIDS] CHECK CONSTRAINT [FK_KIDS_RELIGIONES2]
GO
/****** Object:  StoredProcedure [dbo].[GENERACODIGO]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Procedure  [dbo].[GENERACODIGO]
(			   @table varchar(100) )
as 

 
if @table = 'KIDS'
begin
Select max(c.ID) + 1 as Codigo from KIDS c
end;

 

 







GO
/****** Object:  StoredProcedure [dbo].[ListALLKIDS]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
CREATE procedure [dbo].[ListALLKIDS]

as

select k.ID,k.NOMBRE, k.APELLIDO,
 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP,
 (case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
  , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
  from KIDS k order by k.ESTATUS desc;


GO
/****** Object:  StoredProcedure [dbo].[ListByText]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE procedure [dbo].[ListByText]
(@patron int,@criterio varchar(50))
as
  --EDAD
	if @patron=0
begin
select k.ID,k.NOMBRE, k.APELLIDO,
 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
  ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
  , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
  from KIDS k 
  where k.EDAD like('%' + @criterio + '%') order by k.ESTATUS desc;
  end; 
  


   


GO
/****** Object:  StoredProcedure [dbo].[ListByValue]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 













   
 

CREATE procedure [dbo].[ListByValue]
(@patron int,@criterio int)
as
	if @patron=0
begin
select k.ID,k.NOMBRE, k.APELLIDO,
 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
   ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
     , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
  from KIDS k 
  where k.RELIGION=@criterio or k.RELMADRE=@criterio or k.RELPADRE=@criterio
  order by k.ESTATUS desc;
  end; 
	if @patron=1
begin
select k.ID,k.NOMBRE, k.APELLIDO,
 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
   ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
     , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
  from KIDS k 
  where   k.RELMADRE=@criterio  order by k.ESTATUS desc;
  end;
	if @patron=2
begin
select k.ID,k.NOMBRE, k.APELLIDO,
 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
   ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
     , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
  from KIDS k 
  where   k.RELPADRE=@criterio order by k.ESTATUS desc;
  end; 
	if @patron=3
	begin
		select k.ID,k.NOMBRE, k.APELLIDO,
		 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
		 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
		  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
		  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
		-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
		 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
		 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
		 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
		   ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
		     , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
		  from KIDS k 
		  where k.RELIGION=@criterio  order by k.ESTATUS desc;
	end;
	--HACINAMIENTO
	if @patron=4
	begin
		select k.ID,k.NOMBRE, k.APELLIDO,
		 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
		 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
		  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
		  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
		-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
		 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
		 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
		 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
		   ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
		     , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
		  from KIDS k 
		  where     k.HACINAMIENTO=@criterio  order by k.ESTATUS desc;
	end;
	--NIVEL ECONOMICO
	if @patron=5
	begin
		select k.ID,k.NOMBRE, k.APELLIDO,
		 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
		 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
		  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
		  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
		-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
		 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
		 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
		 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
		   ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
		     , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
		  from KIDS k 
		  where k.NIVELECONOMICO=@criterio  order by k.ESTATUS desc;
	end;
	--SEXO
	if @patron=6
	begin
		select k.ID,k.NOMBRE, k.APELLIDO,
		 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
		 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
		  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
		  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
		-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
		 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
		 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
		 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
		   ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
		     , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
		  from KIDS k 
		where k.SEXO=@criterio  order by k.ESTATUS desc;
	end;

	--Escuela o Colegio
	if @patron=7
	begin
		select k.ID,k.NOMBRE, k.APELLIDO,
		 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
		 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
		  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
		  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
		-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
		 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
		 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
		 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
		   ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
		     , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
		  from KIDS k 
		where k.ESCUELAID=@criterio  order by k.ESTATUS desc;
	end;
	--Programa
	if @patron=8
	begin
		select k.ID,k.NOMBRE, k.APELLIDO,
		 (case (k.SEXO) when 1 then 'M' when 2 then 'F'   else 'I' end )  as SEXO,
		 k.FEC_NACIMIENTO,k.PUNTUACIONFINAL,   (case (k.NIVELECONOMICO) when 1 then 'Bajo' when 2 then 'Medio' when 3 then 'Alto' else '' end )  as Nivel,
		  (case (k.HACINAMIENTO) when 0 then 'Si' when 1 then 'No'   else '' end )  as Hacinado,
		  DATEDIFF(YEAR,FEC_NACIMIENTO,GETDATE())
		-(CASE  WHEN DATEADD(YY,DATEDIFF(YEAR,k.FEC_NACIMIENTO,GETDATE()),k.FEC_NACIMIENTO)>GETDATE() THEN     1 ELSE   0 END) as Edad, 
		 (select r.Nombre from religiones r where r.ID = k.RELIGION) as RELIGIONT,
		 (select r.Nombre from religiones r where r.ID = k.RELMADRE) as RELIGIONM,
		 (select r.Nombre from religiones r where r.ID = k.RELPADRE) as RELIGIONP
		   ,(case (k.ESTATUS) when 1 then 'Activo' when 0 then 'Inactivo'   else 'Inactivo' end )  as ESTADO
		     , (select p.NOMBRE from Programas p where p.ID = k.PROGRAMAID) as Programa
  , (select es.NOMBRE from COLEGIOS es where es.ID = k.ESCUELAID) as Escuela
		  from KIDS k 
		where k.PROGRAMAID=@criterio  order by k.ESTATUS desc;
	end;




   


GO
/****** Object:  StoredProcedure [dbo].[ListColegios]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create procedure  [dbo].[ListColegios](@ID int= 0 )
as


if @ID<>0 
begin
select * from COLEGIOS where ID=@ID;
end;
else
begin
select * from COLEGIOS  ;
end;




GO
/****** Object:  StoredProcedure [dbo].[ListPaisNacionalidad]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create procedure  [dbo].[ListPaisNacionalidad](@ID int= 0 )
as


if @ID<>0 
begin
select * from gen.PAISES where ID=@ID;
end;
else
begin
select * from gen.PAISES  ;
end;




GO
/****** Object:  StoredProcedure [dbo].[ListProgramas]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create procedure  [dbo].[ListProgramas](@ID int= 0 )
as


if @ID<>0 
begin
select * from Programas where ID=@ID;
end;
else
begin
select * from Programas  ;
end;




GO
/****** Object:  StoredProcedure [dbo].[ListReligiones]    Script Date: 04/04/2018 8:55:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
create procedure  [dbo].[ListReligiones](@ID int= 0 )
as


if @ID<>0 
begin
select * from Religiones where ID=@ID;
end;
else
begin
select * from Religiones  ;
end;




GO
USE [master]
GO
