USE [master]
GO
/****** Object:  Database [ropaappdb]    Script Date: 04/04/2018 9:01:54 p. m. ******/
CREATE DATABASE [ropaappdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ropaappdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\ropaappdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ropaappdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\ropaappdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ropaappdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ropaappdb]
GO
USE [ropaappdb]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 04/04/2018 9:01:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[CAT_DESCRIPCION] [varchar](255) NULL,
 CONSTRAINT [PK_MAE_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 04/04/2018 9:01:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[PRO_ID] [int] IDENTITY(1,1) NOT NULL,
	[PRO_CODIGO] [varchar](50) NULL,
	[PRO_NOMBRE] [varchar](50) NOT NULL,
	[PRO_DESCRIPCION] [varchar](255) NULL,
	[PRO_ID_CATEGORIA] [int] NOT NULL,
	[PRO_SUB_CATEGORIA] [int] NOT NULL,
	[PRO_ETIQUETAS] [varchar](max) NULL,
	[PRO_PRECIO] [decimal](18, 2) NOT NULL,
	[PRO_NOTAS] [varchar](50) NULL,
	[PRO_ACTIVO] [bit] NULL,
	[PRO_FECHA_CREADO] [smalldatetime] NOT NULL,
	[PRO_IMAGEN] [nvarchar](max) NULL,
	[PRO_STOCK] [int] NULL,
 CONSTRAINT [PK_MAE_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[PRO_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUBCATEGORIAS]    Script Date: 04/04/2018 9:01:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBCATEGORIAS](
	[SUB_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUB_CATEGORIA_ID] [int] NOT NULL,
	[SUB_DESCRIPCION] [varchar](255) NOT NULL,
 CONSTRAINT [PK_SUBCATEGORIAS] PRIMARY KEY CLUSTERED 
(
	[SUB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 04/04/2018 9:01:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[USU_ID] [int] IDENTITY(1,1) NOT NULL,
	[USU_NOMBRE] [varchar](max) NOT NULL,
	[USU_APELLIDO] [varchar](max) NOT NULL,
	[USU_CEDULA] [varchar](max) NULL,
	[USU_PASAPORTE] [varchar](50) NULL,
	[USU_TELEFONO] [varchar](50) NULL,
	[USU_CORREO] [varchar](255) NULL,
	[USU_FECHA_INGRESO] [datetime] NULL,
	[USU_FECHA_SALIDA] [datetime] NULL,
	[USU_FECHA_REGISTRO] [datetime] NULL,
	[USU_ACTIVO] [bit] NOT NULL,
	[USU_LOGIN] [nvarchar](50) NULL,
	[USU_CLAVE] [nvarchar](50) NULL,
	[USU_NIVEL] [int] NULL,
 CONSTRAINT [PK_MAE_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[USU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 04/04/2018 9:01:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[VEN_ID] [int] IDENTITY(1,1) NOT NULL,
	[VEN_NUMERO_DOC] [varchar](50) NOT NULL,
	[VEN_TIPO_DOC] [int] NOT NULL,
	[VEN_VENTA_FECHA] [smalldatetime] NULL,
	[VEN_FECHA_PAGADA] [smalldatetime] NULL,
	[VEN_ID_CLIENTE] [int] NULL,
	[VEN_SUB_TOTAL] [decimal](18, 0) NULL,
	[VEN_TOTAL] [decimal](18, 0) NULL,
	[VEN_ESTATUS] [varchar](50) NULL,
 CONSTRAINT [PK_MAE_VENTAS] PRIMARY KEY CLUSTERED 
(
	[VEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENTAS_DETALLES]    Script Date: 04/04/2018 9:01:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS_DETALLES](
	[VEN_DET_ID] [int] IDENTITY(1,1) NOT NULL,
	[VEN_DET_ID_VENTA] [int] NOT NULL,
	[VEN_DET_ID_PRODUCTO] [int] NOT NULL,
	[VEN_DET_CANTIDAD] [decimal](18, 2) NOT NULL,
	[VEN_DET_PRECIO_UNITARIO] [decimal](18, 2) NOT NULL,
	[VEN_DET_COMENTARIOS] [varchar](50) NULL,
	[VEN_DET_SUB_TOTAL] [decimal](18, 2) NOT NULL,
	[VEN_DET_TOTAL] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_AUX_VENTAS_DETALLES] PRIMARY KEY CLUSTERED 
(
	[VEN_DET_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ventasDetalle]    Script Date: 04/04/2018 9:01:55 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventasDetalle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ventaID] [int] NOT NULL,
	[servicioID] [int] NOT NULL,
	[cantidad] [decimal](18, 2) NOT NULL,
	[precio] [decimal](18, 2) NOT NULL,
	[itbis] [decimal](18, 2) NOT NULL,
	[total] [decimal](18, 2) NOT NULL,
	[autor] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CATEGORIAS] ON 

INSERT [dbo].[CATEGORIAS] ([CAT_ID], [CAT_DESCRIPCION]) VALUES (1, N'PoloShirt')
INSERT [dbo].[CATEGORIAS] ([CAT_ID], [CAT_DESCRIPCION]) VALUES (2, N'Zapatos')
INSERT [dbo].[CATEGORIAS] ([CAT_ID], [CAT_DESCRIPCION]) VALUES (3, N'Accesorios')
SET IDENTITY_INSERT [dbo].[CATEGORIAS] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTOS] ON 

INSERT [dbo].[PRODUCTOS] ([PRO_ID], [PRO_CODIGO], [PRO_NOMBRE], [PRO_DESCRIPCION], [PRO_ID_CATEGORIA], [PRO_SUB_CATEGORIA], [PRO_ETIQUETAS], [PRO_PRECIO], [PRO_NOTAS], [PRO_ACTIVO], [PRO_FECHA_CREADO], [PRO_IMAGEN], [PRO_STOCK]) VALUES (1, N'Inv547', N'Reloj Invicta', N'', 3, 2, N'Invicta, Reloj, Casual', CAST(4500.00 AS Decimal(18, 2)), N'', NULL, CAST(N'2016-07-24T18:57:00' AS SmallDateTime), N'invicta-mako-pro.jpg', NULL)
INSERT [dbo].[PRODUCTOS] ([PRO_ID], [PRO_CODIGO], [PRO_NOMBRE], [PRO_DESCRIPCION], [PRO_ID_CATEGORIA], [PRO_SUB_CATEGORIA], [PRO_ETIQUETAS], [PRO_PRECIO], [PRO_NOTAS], [PRO_ACTIVO], [PRO_FECHA_CREADO], [PRO_IMAGEN], [PRO_STOCK]) VALUES (2, N'Sho145', N'Tenis Adidas ', N'Tenis para Correr', 2, 3, N'Running, Shoes', CAST(2750.00 AS Decimal(18, 2)), N'', NULL, CAST(N'2016-07-24T19:03:00' AS SmallDateTime), N'adidasrd.jpg', NULL)
INSERT [dbo].[PRODUCTOS] ([PRO_ID], [PRO_CODIGO], [PRO_NOMBRE], [PRO_DESCRIPCION], [PRO_ID_CATEGORIA], [PRO_SUB_CATEGORIA], [PRO_ETIQUETAS], [PRO_PRECIO], [PRO_NOTAS], [PRO_ACTIVO], [PRO_FECHA_CREADO], [PRO_IMAGEN], [PRO_STOCK]) VALUES (3, N'VEst455', N'Vestido', N'', 1, 1, N'', CAST(450.00 AS Decimal(18, 2)), N'', NULL, CAST(N'2016-07-25T21:14:00' AS SmallDateTime), N'555.jpg', 150)
SET IDENTITY_INSERT [dbo].[PRODUCTOS] OFF
SET IDENTITY_INSERT [dbo].[SUBCATEGORIAS] ON 

INSERT [dbo].[SUBCATEGORIAS] ([SUB_ID], [SUB_CATEGORIA_ID], [SUB_DESCRIPCION]) VALUES (1, 1, N'Casual')
INSERT [dbo].[SUBCATEGORIAS] ([SUB_ID], [SUB_CATEGORIA_ID], [SUB_DESCRIPCION]) VALUES (2, 3, N'Reloj')
INSERT [dbo].[SUBCATEGORIAS] ([SUB_ID], [SUB_CATEGORIA_ID], [SUB_DESCRIPCION]) VALUES (3, 2, N'Sport')
SET IDENTITY_INSERT [dbo].[SUBCATEGORIAS] OFF
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([USU_ID], [USU_NOMBRE], [USU_APELLIDO], [USU_CEDULA], [USU_PASAPORTE], [USU_TELEFONO], [USU_CORREO], [USU_FECHA_INGRESO], [USU_FECHA_SALIDA], [USU_FECHA_REGISTRO], [USU_ACTIVO], [USU_LOGIN], [USU_CLAVE], [USU_NIVEL]) VALUES (1, N'Administrador', N'Super', N'999999999999', NULL, N'9999999999', N'admin@ropaapp.praysoft.net', NULL, NULL, NULL, 1, N'admin', N'123', 1)
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
SET IDENTITY_INSERT [dbo].[VENTAS] ON 

INSERT [dbo].[VENTAS] ([VEN_ID], [VEN_NUMERO_DOC], [VEN_TIPO_DOC], [VEN_VENTA_FECHA], [VEN_FECHA_PAGADA], [VEN_ID_CLIENTE], [VEN_SUB_TOTAL], [VEN_TOTAL], [VEN_ESTATUS]) VALUES (1, N'XXXX-XXXX-XXXX-4444', 0, CAST(N'2016-07-24T19:07:00' AS SmallDateTime), CAST(N'2016-07-24T19:07:00' AS SmallDateTime), 1, CAST(7250 AS Decimal(18, 0)), CAST(1305 AS Decimal(18, 0)), N'Facturado')
SET IDENTITY_INSERT [dbo].[VENTAS] OFF
SET IDENTITY_INSERT [dbo].[VENTAS_DETALLES] ON 

INSERT [dbo].[VENTAS_DETALLES] ([VEN_DET_ID], [VEN_DET_ID_VENTA], [VEN_DET_ID_PRODUCTO], [VEN_DET_CANTIDAD], [VEN_DET_PRECIO_UNITARIO], [VEN_DET_COMENTARIOS], [VEN_DET_SUB_TOTAL], [VEN_DET_TOTAL]) VALUES (1, 1, 1, CAST(1.00 AS Decimal(18, 2)), CAST(4500.00 AS Decimal(18, 2)), N'', CAST(4500.00 AS Decimal(18, 2)), CAST(5310.00 AS Decimal(18, 2)))
INSERT [dbo].[VENTAS_DETALLES] ([VEN_DET_ID], [VEN_DET_ID_VENTA], [VEN_DET_ID_PRODUCTO], [VEN_DET_CANTIDAD], [VEN_DET_PRECIO_UNITARIO], [VEN_DET_COMENTARIOS], [VEN_DET_SUB_TOTAL], [VEN_DET_TOTAL]) VALUES (2, 1, 2, CAST(1.00 AS Decimal(18, 2)), CAST(2750.00 AS Decimal(18, 2)), N'', CAST(2750.00 AS Decimal(18, 2)), CAST(3245.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[VENTAS_DETALLES] OFF
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_CATEGORIAS] FOREIGN KEY([PRO_ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIAS] ([CAT_ID])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_CATEGORIAS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS_SUBCATEGORIAS] FOREIGN KEY([PRO_SUB_CATEGORIA])
REFERENCES [dbo].[SUBCATEGORIAS] ([SUB_ID])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTOS_SUBCATEGORIAS]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_USUARIOS] FOREIGN KEY([VEN_ID_CLIENTE])
REFERENCES [dbo].[USUARIOS] ([USU_ID])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_VENTAS_USUARIOS]
GO
ALTER TABLE [dbo].[VENTAS_DETALLES]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_DETALLES_PRODUCTOS] FOREIGN KEY([VEN_DET_ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTOS] ([PRO_ID])
GO
ALTER TABLE [dbo].[VENTAS_DETALLES] CHECK CONSTRAINT [FK_VENTAS_DETALLES_PRODUCTOS]
GO
ALTER TABLE [dbo].[VENTAS_DETALLES]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS_DETALLES_VENTAS] FOREIGN KEY([VEN_DET_ID_VENTA])
REFERENCES [dbo].[VENTAS] ([VEN_ID])
GO
ALTER TABLE [dbo].[VENTAS_DETALLES] CHECK CONSTRAINT [FK_VENTAS_DETALLES_VENTAS]
GO
USE [master]
GO
