USE [master]
GO
/****** Object:  Database [Veterinaria]    Script Date: 04/04/2018 9:07:09 p. m. ******/
CREATE DATABASE [Veterinaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Veterinaria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\Veterinaria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Veterinaria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLSERVER2016\MSSQL\DATA\Veterinaria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Veterinaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Veterinaria]
GO
USE [Veterinaria]
GO
/****** Object:  User [praysoft]    Script Date: 04/04/2018 9:07:09 p. m. ******/
CREATE USER [praysoft] FOR LOGIN [praysoft] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [praysoft]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IDCliente] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](max) NOT NULL,
	[Apellidos] [nvarchar](max) NOT NULL,
	[TelefonoFijo] [nvarchar](max) NOT NULL,
	[TelefonoMovil] [nvarchar](max) NOT NULL,
	[Correo] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Documento] [nvarchar](max) NOT NULL,
	[IDTipoDocumento] [int] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[IDCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Compra]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[IDCompra] [int] IDENTITY(1,1) NOT NULL,
	[IDProveedor] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Compra] PRIMARY KEY CLUSTERED 
(
	[IDCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CompraDetalle]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompraDetalle](
	[IDCompraDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IDProducto] [int] NOT NULL,
	[IDCompra] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Cantidad] [float] NOT NULL,
	[Costo] [money] NOT NULL,
 CONSTRAINT [PK_CompraDetalle] PRIMARY KEY CLUSTERED 
(
	[IDCompraDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consulta](
	[IDConsulta] [int] IDENTITY(1,1) NOT NULL,
	[IDMascota] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Sintomas] [text] NOT NULL,
	[Diagnostico] [text] NOT NULL,
 CONSTRAINT [PK_Consulta] PRIMARY KEY CLUSTERED 
(
	[IDConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mascota]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mascota](
	[IDMascota] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[Raza] [nvarchar](max) NOT NULL,
	[Observaciones] [text] NOT NULL,
	[IDTipoMascota] [int] NOT NULL,
 CONSTRAINT [PK_Mascota] PRIMARY KEY CLUSTERED 
(
	[IDMascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Producto]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IDProducto] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Costo] [money] NOT NULL,
	[Precio] [money] NOT NULL,
	[Inventario] [float] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IDProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IDProveedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](max) NOT NULL,
	[Apellidos] [nvarchar](max) NOT NULL,
	[TelefonoFijo] [nvarchar](max) NOT NULL,
	[TelefonoMovil] [nvarchar](max) NOT NULL,
	[Direccion] [nvarchar](max) NOT NULL,
	[Correo] [nvarchar](max) NOT NULL,
	[Documento] [nvarchar](max) NOT NULL,
	[IDTipoDocumento] [int] NOT NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[IDProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reserva]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserva](
	[IDReserva] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[IDMascota] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Reserva] PRIMARY KEY CLUSTERED 
(
	[IDReserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[IDTipoDocumento] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TipoDocumento] PRIMARY KEY CLUSTERED 
(
	[IDTipoDocumento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TipoMascota]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMascota](
	[IDTipoMascota] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_TipoMascota] PRIMARY KEY CLUSTERED 
(
	[IDTipoMascota] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vacunacion]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacunacion](
	[IDVacunacion] [int] IDENTITY(1,1) NOT NULL,
	[IDMascota] [int] NOT NULL,
	[FechaProgramada] [datetime] NOT NULL,
	[Vacuna] [nvarchar](max) NULL,
	[FechaAplicacda] [datetime] NULL,
 CONSTRAINT [PK_Vacunación] PRIMARY KEY CLUSTERED 
(
	[IDVacunacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[IDVendedor] [int] IDENTITY(1,1) NOT NULL,
	[Nombres] [nvarchar](50) NULL,
	[Apellidos] [nvarchar](50) NULL,
	[UserName] [nvarchar](10) NULL,
	[Password] [nvarchar](10) NULL,
 CONSTRAINT [PK_Vendedor] PRIMARY KEY CLUSTERED 
(
	[IDVendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Venta]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IDVenta] [int] IDENTITY(1,1) NOT NULL,
	[IDCliente] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[IDVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VentaDetalle]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalle](
	[IDVentaDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IDVenta] [int] NOT NULL,
	[IDProducto] [int] NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[Cantidad] [float] NOT NULL,
	[Costo] [money] NOT NULL,
 CONSTRAINT [PK_VentaDetalle] PRIMARY KEY CLUSTERED 
(
	[IDVentaDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([IDCliente], [Nombres], [Apellidos], [TelefonoFijo], [TelefonoMovil], [Correo], [Direccion], [Documento], [IDTipoDocumento], [UserName]) VALUES (1, N'Federico Andres', N'Montes Montes', N'2357896', N'3006407899', N'fede@hotmail.com', N'Calle 81 #67 54', N'1077648153', 1, N'Fede')
INSERT [dbo].[Cliente] ([IDCliente], [Nombres], [Apellidos], [TelefonoFijo], [TelefonoMovil], [Correo], [Direccion], [Documento], [IDTipoDocumento], [UserName]) VALUES (2, N'Mario Carlos', N'Ruiz Morales', N'26451260', N'3001246789', N'ruiz10@gmail.com', N'Diagonal 45 #56 54', N'46729134', 1, N'Mario')
INSERT [dbo].[Cliente] ([IDCliente], [Nombres], [Apellidos], [TelefonoFijo], [TelefonoMovil], [Correo], [Direccion], [Documento], [IDTipoDocumento], [UserName]) VALUES (3, N'Camilo Federico', N'Mendosa Palacio', N'4256780', N'3124567893', N'cami20@colombia.com', N'Carrera 67 #55 45', N'108872635', 2, N'Camilo')
SET IDENTITY_INSERT [dbo].[Cliente] OFF
SET IDENTITY_INSERT [dbo].[Compra] ON 

INSERT [dbo].[Compra] ([IDCompra], [IDProveedor], [Fecha]) VALUES (1, 1, CAST(N'2014-10-03T06:59:12.403' AS DateTime))
INSERT [dbo].[Compra] ([IDCompra], [IDProveedor], [Fecha]) VALUES (2, 10, CAST(N'2014-10-15T07:44:36.463' AS DateTime))
INSERT [dbo].[Compra] ([IDCompra], [IDProveedor], [Fecha]) VALUES (3, 15, CAST(N'2014-10-15T07:59:38.573' AS DateTime))
SET IDENTITY_INSERT [dbo].[Compra] OFF
SET IDENTITY_INSERT [dbo].[CompraDetalle] ON 

INSERT [dbo].[CompraDetalle] ([IDCompraDetalle], [IDProducto], [IDCompra], [Descripcion], [Cantidad], [Costo]) VALUES (1, 15, 1, N'Alpizse', 24, 54367.0000)
INSERT [dbo].[CompraDetalle] ([IDCompraDetalle], [IDProducto], [IDCompra], [Descripcion], [Cantidad], [Costo]) VALUES (2, 17, 2, N'CorreaparaPerros', 10, 4678.0000)
INSERT [dbo].[CompraDetalle] ([IDCompraDetalle], [IDProducto], [IDCompra], [Descripcion], [Cantidad], [Costo]) VALUES (3, 20, 3, N'	Mentol', 3, 345578.0000)
SET IDENTITY_INSERT [dbo].[CompraDetalle] OFF
SET IDENTITY_INSERT [dbo].[Mascota] ON 

INSERT [dbo].[Mascota] ([IDMascota], [IDCliente], [Nombre], [FechaNacimiento], [Raza], [Observaciones], [IDTipoMascota]) VALUES (15, 5, N'fifi', CAST(N'2014-06-03T00:00:00.000' AS DateTime), N'labrador', N'bajo de peso', 2)
INSERT [dbo].[Mascota] ([IDMascota], [IDCliente], [Nombre], [FechaNacimiento], [Raza], [Observaciones], [IDTipoMascota]) VALUES (16, 8, N'Marcos', CAST(N'2014-05-08T00:00:00.000' AS DateTime), N'Colirrojo tizon', N'Muy gordo', 5)
INSERT [dbo].[Mascota] ([IDMascota], [IDCliente], [Nombre], [FechaNacimiento], [Raza], [Observaciones], [IDTipoMascota]) VALUES (17, 10, N'luna', CAST(N'2014-03-02T00:00:00.000' AS DateTime), N'Cacatuas', N'Desidratado', 15)
SET IDENTITY_INSERT [dbo].[Mascota] OFF
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IDProducto], [Descripcion], [Costo], [Precio], [Inventario]) VALUES (1, N'Jabonperro', 24000.0000, 558976.0000, 200)
INSERT [dbo].[Producto] ([IDProducto], [Descripcion], [Costo], [Precio], [Inventario]) VALUES (2, N'Albendazol', 15000.0000, 34560.0000, 100)
INSERT [dbo].[Producto] ([IDProducto], [Descripcion], [Costo], [Precio], [Inventario]) VALUES (3, N'Ampicilina', 3244562.0000, 43216.0000, 150)
SET IDENTITY_INSERT [dbo].[Producto] OFF
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([IDProveedor], [Nombres], [Apellidos], [TelefonoFijo], [TelefonoMovil], [Direccion], [Correo], [Documento], [IDTipoDocumento]) VALUES (1, N'Carmen', N'Zuluaga', N'4513678', N'3124569875', N'Calle 47#56 56', N'carmen@hotmail.com', N'133467895', 1)
INSERT [dbo].[Proveedor] ([IDProveedor], [Nombres], [Apellidos], [TelefonoFijo], [TelefonoMovil], [Direccion], [Correo], [Documento], [IDTipoDocumento]) VALUES (3, N'fernando', N'Ruiz', N'2454638', N'3021467892', N'Calle 45#56 14', N'ruiz10@gmail.com', N'254698785', 2)
INSERT [dbo].[Proveedor] ([IDProveedor], [Nombres], [Apellidos], [TelefonoFijo], [TelefonoMovil], [Direccion], [Correo], [Documento], [IDTipoDocumento]) VALUES (6, N'Teresa', N'Moreno', N'542163', N'3012467998', N'Calle 45#56 14', N'tere@hotmail.com', N'45679243', 2)
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
SET IDENTITY_INSERT [dbo].[Reserva] ON 

INSERT [dbo].[Reserva] ([IDReserva], [IDCliente], [IDMascota], [Fecha], [Descripcion]) VALUES (2, 1, 1, CAST(N'2014-06-03T00:00:00.000' AS DateTime), N'Peinada')
INSERT [dbo].[Reserva] ([IDReserva], [IDCliente], [IDMascota], [Fecha], [Descripcion]) VALUES (3, 5, 2, CAST(N'2014-10-12T00:00:00.000' AS DateTime), N'Baño')
INSERT [dbo].[Reserva] ([IDReserva], [IDCliente], [IDMascota], [Fecha], [Descripcion]) VALUES (4, 10, 3, CAST(N'2014-12-04T00:00:00.000' AS DateTime), N'Espulgada')
SET IDENTITY_INSERT [dbo].[Reserva] OFF
SET IDENTITY_INSERT [dbo].[TipoDocumento] ON 

INSERT [dbo].[TipoDocumento] ([IDTipoDocumento], [Descripcion]) VALUES (1, N'Cedula de Ciudadania')
INSERT [dbo].[TipoDocumento] ([IDTipoDocumento], [Descripcion]) VALUES (2, N'Cedula de Extranjeria')
INSERT [dbo].[TipoDocumento] ([IDTipoDocumento], [Descripcion]) VALUES (3, N'Nit')
SET IDENTITY_INSERT [dbo].[TipoDocumento] OFF
SET IDENTITY_INSERT [dbo].[TipoMascota] ON 

INSERT [dbo].[TipoMascota] ([IDTipoMascota], [Descripcion]) VALUES (1, N'pitbull')
INSERT [dbo].[TipoMascota] ([IDTipoMascota], [Descripcion]) VALUES (2, N'pincher')
INSERT [dbo].[TipoMascota] ([IDTipoMascota], [Descripcion]) VALUES (3, N'ConejoBeveren')
SET IDENTITY_INSERT [dbo].[TipoMascota] OFF
SET IDENTITY_INSERT [dbo].[Vacunacion] ON 

INSERT [dbo].[Vacunacion] ([IDVacunacion], [IDMascota], [FechaProgramada], [Vacuna], [FechaAplicacda]) VALUES (1, 15, CAST(N'2015-01-07T00:00:00.000' AS DateTime), N'Tripe Viral', NULL)
INSERT [dbo].[Vacunacion] ([IDVacunacion], [IDMascota], [FechaProgramada], [Vacuna], [FechaAplicacda]) VALUES (2, 15, CAST(N'2015-05-12T00:00:00.000' AS DateTime), N'Pago Virus', NULL)
INSERT [dbo].[Vacunacion] ([IDVacunacion], [IDMascota], [FechaProgramada], [Vacuna], [FechaAplicacda]) VALUES (3, 15, CAST(N'2015-10-20T00:00:00.000' AS DateTime), N'Moquillo', NULL)
SET IDENTITY_INSERT [dbo].[Vacunacion] OFF
SET IDENTITY_INSERT [dbo].[Vendedor] ON 

INSERT [dbo].[Vendedor] ([IDVendedor], [Nombres], [Apellidos], [UserName], [Password]) VALUES (1, N'Juan', N'zulaga', N'zulo', N'123')
INSERT [dbo].[Vendedor] ([IDVendedor], [Nombres], [Apellidos], [UserName], [Password]) VALUES (2, N'Ledys', N'dd', N'ledys', N'123')
INSERT [dbo].[Vendedor] ([IDVendedor], [Nombres], [Apellidos], [UserName], [Password]) VALUES (3, N'Sherley', N'roman', N'shirly', N'123')
SET IDENTITY_INSERT [dbo].[Vendedor] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Cliente]    Script Date: 04/04/2018 9:07:09 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Cliente] ON [dbo].[Cliente]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_TipoDocumento] FOREIGN KEY([IDTipoDocumento])
REFERENCES [dbo].[TipoDocumento] ([IDTipoDocumento])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_TipoDocumento]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Proveedor] FOREIGN KEY([IDProveedor])
REFERENCES [dbo].[Proveedor] ([IDProveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [FK_Compra_Proveedor]
GO
ALTER TABLE [dbo].[CompraDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CompraDetalle_Compra] FOREIGN KEY([IDCompra])
REFERENCES [dbo].[Compra] ([IDCompra])
GO
ALTER TABLE [dbo].[CompraDetalle] CHECK CONSTRAINT [FK_CompraDetalle_Compra]
GO
ALTER TABLE [dbo].[CompraDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CompraDetalle_Producto] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Producto] ([IDProducto])
GO
ALTER TABLE [dbo].[CompraDetalle] CHECK CONSTRAINT [FK_CompraDetalle_Producto]
GO
ALTER TABLE [dbo].[Consulta]  WITH CHECK ADD  CONSTRAINT [FK_Consulta_Mascota] FOREIGN KEY([IDMascota])
REFERENCES [dbo].[Mascota] ([IDMascota])
GO
ALTER TABLE [dbo].[Consulta] CHECK CONSTRAINT [FK_Consulta_Mascota]
GO
ALTER TABLE [dbo].[Mascota]  WITH CHECK ADD  CONSTRAINT [FK_Mascota_Cliente] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Cliente] ([IDCliente])
GO
ALTER TABLE [dbo].[Mascota] CHECK CONSTRAINT [FK_Mascota_Cliente]
GO
ALTER TABLE [dbo].[Mascota]  WITH CHECK ADD  CONSTRAINT [FK_Mascota_Reserva] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Reserva] ([IDReserva])
GO
ALTER TABLE [dbo].[Mascota] CHECK CONSTRAINT [FK_Mascota_Reserva]
GO
ALTER TABLE [dbo].[Mascota]  WITH CHECK ADD  CONSTRAINT [FK_Mascota_TipoMascota] FOREIGN KEY([IDTipoMascota])
REFERENCES [dbo].[TipoMascota] ([IDTipoMascota])
GO
ALTER TABLE [dbo].[Mascota] CHECK CONSTRAINT [FK_Mascota_TipoMascota]
GO
ALTER TABLE [dbo].[Proveedor]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_TipoDocumento] FOREIGN KEY([IDTipoDocumento])
REFERENCES [dbo].[TipoDocumento] ([IDTipoDocumento])
GO
ALTER TABLE [dbo].[Proveedor] CHECK CONSTRAINT [FK_Proveedor_TipoDocumento]
GO
ALTER TABLE [dbo].[Vacunacion]  WITH CHECK ADD  CONSTRAINT [FK_Vacunación_Mascota] FOREIGN KEY([IDMascota])
REFERENCES [dbo].[Mascota] ([IDMascota])
GO
ALTER TABLE [dbo].[Vacunacion] CHECK CONSTRAINT [FK_Vacunación_Mascota]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([IDCliente])
REFERENCES [dbo].[Cliente] ([IDCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalle_Producto] FOREIGN KEY([IDProducto])
REFERENCES [dbo].[Producto] ([IDProducto])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_VentaDetalle_Producto]
GO
ALTER TABLE [dbo].[VentaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalle_Venta] FOREIGN KEY([IDVenta])
REFERENCES [dbo].[Venta] ([IDVenta])
GO
ALTER TABLE [dbo].[VentaDetalle] CHECK CONSTRAINT [FK_VentaDetalle_Venta]
GO
/****** Object:  StoredProcedure [dbo].[GetProducto]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProducto]
(
	@IDProducto int
)
AS
	SET NOCOUNT ON;
SELECT IDProducto, Descripcion, Costo, Precio, Inventario FROM Producto
where IDProducto=@IDProducto
GO
/****** Object:  StoredProcedure [dbo].[GetProductosLikeCriterio]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetProductosLikeCriterio]
(
	@Criterio nvarchar(MAX)
)
AS
	SET NOCOUNT ON;
SELECT IDProducto, Descripcion, Costo, Precio, Inventario
 FROM dbo.Producto
where Descripcion like @Criterio
GO
/****** Object:  StoredProcedure [dbo].[UpdatePrecio]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdatePrecio]
(
	@Precio money,
	@IDProducto int
)
AS
	SET NOCOUNT OFF;
UPDATE [Producto] SET  [Precio] = @Precio WHERE IDProducto = @IDProducto
GO
/****** Object:  StoredProcedure [dbo].[ValidateVendedor]    Script Date: 04/04/2018 9:07:09 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ValidateVendedor]
(
	@Username nvarchar(10),
	@Password nvarchar(10)
)
AS
	SET NOCOUNT ON;
Select IDVendedor
From Vendedor
Where Username=@Username And Password=@Password
GO
USE [master]
GO
